@{
  Layout = "_Layout";
}

@using HairSalon.Models;

<h1>Stylists</h1>

<ul>
  @foreach(Stylist stylist in Model)
  {
    <li>@Html.ActionLink($"{stylist.Name}", "Details", new {id = stylist.StylistId})</li>
  }
</ul>

@Html.ActionLink("Add new stylist", "Create")
<br>
@Html.ActionLink("Add new client", "Create", "Clients")
<br>
@Html.ActionLink("Home", "Index", "Home")